<?php

$lang = isset($_GET['lang']) ? $_GET['lang'] : 'en';

$map = array(
    'center' => array(
        'latitude' => 45.1570741,
        'longitude' => 19.7093099
    ),
    'zoom' => 9,
    'bounds' => array(
        'sw' => array(
            'latitude' => 45.094841,
            'longitude' => 19.593263
        ),
        'ne' => array(
            'latitude' => 45.236177,
            'longitude' => 19.819242
        )
    )
);

$mapPath = '/fruskac/map/dist/index.html';

$fullscreen = '/fruskac/map-controller/dist/index.php';
$clustering = true;

$data = array(
    array(
        'url' => '/fruskac/data/locations-'.$lang.'.json',
        'name' => 'locations',
        'type' => 'FRUSKAC_TYPE_MARKER',
        'options' => array(
            'visible' => true,
            'show' => array(
                'lakes',
                'monasteries',
                'misc'
            )
        )
    ),
    array(
        'url' => '/fruskac/data/tourism-'.$lang.'.json',
        'name' => 'tourism',
        'type' => 'FRUSKAC_TYPE_MARKER',
        'options' => array(
            'visible' => true,
            'show' => array(
                'households'
            )
        )
    ),
    array(
        'url' => '/fruskac/data/marathon.json',
        'name' => 'marathons',
        'type' => 'FRUSKAC_TYPE_TRACK'
    ),
    array(
        'url' => '/fruskac/data/protection.json',
        'name' => 'protection',
        'type' => 'FRUSKAC_TYPE_KML'
    ),
    array(
        'url' => '/fruskac/data/time.json',
        'name' => 'time',
        'type' => 'FRUSKAC_TYPE_MARKER'
    ),
);

